<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.labfinals">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LabProject"
        tools:targetApi="31">
        <activity
            android:name=".EditClinicsData"
            android:exported="false" />
        <activity
            android:name=".EditAppointmentsData"
            android:exported="false" />
        <activity
            android:name=".EditPatientsData"
            android:exported="false" />
        <activity
            android:name=".EditDoctorsData"
            android:exported="false" />
        <activity
            android:name=".ShowClinics"
            android:exported="false" />
        <activity
            android:name=".AddClinic"
            android:exported="false" />
        <activity
            android:name=".ShowDoctors"
            android:exported="false" />
        <activity
            android:name=".AddDoctor"
            android:exported="false" />
        <activity
            android:name=".ShowPatients"
            android:exported="false" />
        <activity
            android:name=".AddPatient"
            android:exported="false" />
        <activity
            android:name=".AddAppointment"
            android:exported="true" />
        <activity
            android:name=".ShowAppointments"
            android:exported="true" />
        <activity
            android:name=".HomePage"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>